#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
#overlay {
    display:none;
    z-index: 999;
}
#popupBox {
    display:none;
    position: fixed;
    top: 20%;
    left: 10%;
    margin-top: -100px;
    margin-left: -100px;  
    width:400px;
    height: 400px;
    color: #000000;
    opacity:0.6;
    background-color:#000000;
    z-index: 1000;
   
}
#popupContent {
    display:none; font-family:Arial, Helvetica, sans-serif;
    color:white;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
}

.close{
    clear:both;
	cursor:pointer;
	width:90px;
	height:30px;
    margin-top:30px;
	border-radius: 4px;
	background-color: #808080;
	border:none;
	line-height:10px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
